[Unit]
Description=c0a22100-get-last-tcpdump

[Timer]
OnCalendar=*-*-* *:0/10
AccuracySec=1s
Unit=c0a22100-get-last-tcpdump.service

[Install]
WantedBy=timers.target